.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  color: #ff9f1a;
}

.span-color {
  color: #ff9f1a;
}

/* footer section styling */
footer {
  background: #2f3542;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #55efc4;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

footer span img.footer-links {
  margin: 0 0.5rem;
}